<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEXALAB</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/styleindex.css">
  <script defer src="static/js/script.js"></script>
</head>
<body>
  <nav>
    <a href="/">Inicio</a>
    <a href="servicios.html">Servicios</a>
    <a href="clientes.html">Clientes</a>
    <a href="proyectos.html">Proyectos</a>
    <a href="nosotros.html">Nosotros</a>
    <a href="contacto.html">Contacto</a>
  </nav>

<header id="inicio">
  <div class="logo-wrapper">
    <img src="static/images/icono_hexalab.jpg" alt="Logo Hexalab">
  </div>
  <h1>HEXALAB</h1>
</header>

<section id="nosotros" class="fondo-oscuro">
  <div class="contenedor contenedor-nosotros">
    <div class="nosotros-texto">
      <h2>Nosotros</h2>
      <p class="texto">En HEXALAB combinamos tecnología, creatividad y estrategia para llevar tu proyecto al siguiente nivel.</p>
      <p class="texto">Somos un equipo formado por profesionales de la ingeniería y del diseño gráfico que trabajan conjuntamente para transformar ideas en soluciones concretas.

Desde sistemas de monitoreo industrial y automatización, hasta desarrollo web, gestión de redes y fortalecimiento de marcas personales, cubrimos todo lo necesario para que tu proyecto sea eficiente, funcional y visualmente potente.</p>
      <strong><p class="texto">💡 Si buscás innovación real con una estética cuidada y un enfoque integral, descubrí más sobre nosotros.</p></strong>
      <div class="centrar-boton">
        <a href="nosotros.html" class="btn-ver-mas btn-claro">Ver todo sobre nosotros</a>
      </div>
    </div>
    <img src="static/images/image_nosotros.jpg" alt="Equipo Hexalab" class="right-image">
  </div>
</section>

<section id="servicios" class="fondo-claro">
  <div class="contenedor">
    <h2>Servicios</h2>
    <p class="texto">
      Desarrollamos soluciones tecnológicas integrales adaptadas a entornos industriales y digitales complejos.</p>
<p class="texto"> Con sistemas embebidos, automatización, monitoreo remoto, redes avanzadas y diseño de hardware, integrando también estrategias de comunicación visual y presencia online para potenciar marcas desde su núcleo técnico.</p>

<strong><p class="texto">🔧Explorá todos nuestros servicios y descubrí cómo podemos optimizar tu proyecto.</p></strong>
    </p>
    <a href="servicios.html" class="btn-ver-mas">Ver todos los servicios</a>
    </div>
</section>

  <section id="proyectos" class="fondo-oscuro">
    <div class="contenedor">
    <h2>Nuestros Proyectos</h2>
    <p>Desde sistemas de monitoreo industrial hasta desarrollos educativos, nuestros proyectos reflejan calidad y creatividad.</p>
    <a href="proyectos.html" class="btn-ver-mas btn-claro">Ver todos los proyectos</a>
    </div>
  </section>

  <section id="clientes" class="fondo-claro">
    <div class="contenedor">
    <h2>Clientes</h2>
    <p>Trabajamos con startups, industrias, y centros educativos para crear soluciones tecnológicas innovadoras.</p>
    <a href="proyectos.html" class="btn-ver-mas">Ver todos nuestros clientes</a>
    </div>
  </section>


  <section id="contacto" class="fondo-oscuro">
  <div class="contenedor">
    <h2>Contacto</h2>
    <div class="contact-info">
      <a href="https://wa.me/5491123456789" target="_blank"><img src="static\images\contacto\mail.png" alt="contact-img" style="width: 150px;height: 150px;"></a>
      <a href="https://instagram.com/hexalab" target="_blank"><img src="static\images\contacto\instagram.png" alt="contact-img" style="width: 140px;height: 140px;"></a>
      <a href="mailto:contacto@hexalab.com"><img src="static\images\contacto\whastapp.png" alt="contact-img" style="width: 150px;height: 150px;"></a>
    </div>
          <p class="texto">Para consultas, colaboraciones o más información, no dudes en contactarnos.</p>
  </div>
  </section>
  <div class="flecha-abajo-fija">
  <svg width="40" height="40" viewBox="0 0 40 40">
    <polyline points="10,16 20,28 30,16" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    <polyline points="10,16 20,28 30,16" fill="none" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
  <footer>
    &copy; 2025 HEXALAB - Todos los derechos reservados
  </footer>
</body>
</html>